body {
  overflow-x: hidden;
  font-family: sans-serif;
}

.navbar {
  background-color: #f72210;
}

.nav-image {
  max-width: 50%;
}

.feature {
  font-weight: bolder;
}

a:hover {
  color: black;
  text-decoration-color: #f72210;
}

.weather,
.weather a {
  color: whitesmoke;
}

.text-secondary a {
  color: rgb(95, 93, 93);
  font-weight: bolder;
}

.latest {
  font-weight: bolder;
}

a,
.pandemic a:hover,
.culture a:hover,
.opinion:hover,
.debate:hover,
.latest:hover,
.feature:hover {
  text-decoration: none;
}

a {
  color: black;
}

.sub {
  color: #f72210;
}

.sub:hover,
.text-secondary a:hover {
  text-decoration: none;
}

.pandemic span,
.culture span {
  color: rgb(104, 102, 102);
}

.sub:hover,
.fa-chevron-right,
.figure-caption,
.titles,
.opinion:hover,
.latest:hover,
.features,
.features:hover {
  color: #f72210;
}

.features:hover {
  text-decoration: none;
}

.sign-in {
  position: absolute;
  right: 4rem;
}

.fa-bars {
  font-size: 1.8rem;
  color: rgb(216, 214, 214);
}

.search-icon {
  position: sticky;
  right: 0;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 550;
}

.noPadding {
  padding: 0;
  margin: 0;
}

.debate-border {
  padding: 0.1rem;
}

.img-verse {
  width: 40%;
}

.display-5 {
  font-weight: 900;
}

.icon,
.figure-cap,
.sub-btn {
  color: white;
  background-color: #f72210;
}

.icon {
  font-size: 1.5rem;
}

.figure-cap,
.figure-caption {
  font-weight: bolder;
}

.figure,
.sub-container {
  background-color: rgba(255, 255, 255, 0.9);
}

.feature:hover {
  background-color: grey;
}

.cursor {
  cursor: pointer;
}

.subscribe,
.subscribe-h2 {
  font-size: 1.5rem;
  color: black;
}

.subscribe-h2 {
  margin-left: 8rem;
}

.delivery {
  font-size: 0.7rem;
}

.access {
  font-size: 0.8rem;
  font-weight: lighter;
}

.sub-btn {
  height: 8%;
}

.overlay {
  margin-left: 5rem;
}

.justifier {
  height: 5%;
  bottom: 20rem;
}

.navbar-nav {
  position: sticky;
  right: 0;
}

.nav-link {
  border-right: solid 0.1rem rgb(224, 219, 219);
  padding: 0.5rem 1rem 0 1rem;
}

.input {
  width: 10rem;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  font-size: 1.3rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
}

.collapse {
  width: 100%;
}

.form-control {
  width: 10rem;
  right: 0;
  border: none;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-svg {
  padding: 1rem 0;
  width: 30%;
}

.footer-logo {
  width: 100%;
  margin-left: 2rem;
  fill: #f72210;
}

.copyright {
  width: 40%;
  padding: 3rem 0 0 12rem;
}

.copy {
  width: 100%;
  font-size: 0.8rem;
}

.social {
  padding: 3rem 0 0 12rem;
  width: 30%;
  font-size: 1.3rem;
}

.social i {
  color: grey;
}

.social i:hover {
  color: blue;
}

.footer-bottom {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  width: 100%;
}

.footer-mid {
  padding: 0.5rem 0 0.5rem 0.7rem;
}

.footer-mid li,
.footer-bottom li {
  border-right: solid 0.1rem rgb(224, 219, 219);
  padding-right: 0.6rem;
}

.top-left {
  grid-area: item1;
}

.top-centre {
  grid-area: item2;
}

.top-right {
  grid-area: item3;
}

@media only screen and (max-width: 992px) {
  .nav {
    display: none;
  }

  .date {
    display: none;
  }

  .social {
    padding: 3rem 0 0 0;
    width: 30%;
  }

  .top-section {
    grid-template-areas:
      "item1 item2"
      "item3 item3";
  }
}

@media only screen and (min-width: 992px) {
  .fa-bars {
    display: none;
  }

  .nav-icons {
    position: sticky;
    right: 0;
    left: 58.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-top {
    display: block;
  }

  .copyright {
    width: 40%;
    padding: 1rem 0 0 2rem;
  }

  .copy {
    width: 100%;
    font-size: 0.5rem;
  }

  .social {
    padding: 1rem 0 0 2rem;
    width: 30%;
  }

  .footer-bottom li {
    border-right: none;
  }

  .top-section {
    display: grid;
    grid-template-areas:
      "item2"
      "item1"
      "item3";
  }
}
