body {
  overflow-x: hidden;
}

.search-container {
  display: inline-flex;
  width: 10%;
}

.search-icon {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 550;
}

.search-box {
  border: 0;
  padding: 0.5rem 0;
  flex: 1;
  width: 5%;
}

.img-verse {
  width: 40%;
}

.display-5 {
  font-weight: 900;
}

.icon,
.figure-cap,
.sub-btn {
  color: white;
  background-color: #f72210;
}

.icon {
  font-size: 1.5rem;
}

.figure-cap,
.figure-caption {
  font-weight: bolder;
}

.figure-caption,
.titles {
  color: #f72210;
}

.figure {
  background-color: rgba(255,255,255,.9);
}

.features {
  font-weight: bolder;

}

.sub-container {
  background-color: rgb(230, 223, 223);
}

.subscribe,
.subscribe-h2 {
  font-size: 1.5rem;
  color: black;
}

.subscribe-h2 {
  margin-left: 8rem;
}

.delivery {
  font-size: 0.7rem;
}

.access {
  font-size: 0.8rem;
  font-weight: lighter;
}

.sub-btn {
  height: 8%;
}

.overlay {
  margin-left: 5rem;
}

.justifier {
  height: 5%;
  bottom: 20rem;
}
.nav-link,
.col-md-1 {
  border-right: solid 0.1rem rgb(224, 219, 219);
}

.col-md-1 {
  font-size: 0.7rem;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-svg,
.footer-svg {
  padding: 1rem 0;
  width: 30%;
}

.logo,
.footer-logo {
  width: 100%;
  fill: #f72210;
  margin-left: 2rem;
}

.copyright {
  width: 40%;
  margin: 1rem 0 0 -10rem;
}
.copy {
  width: 100%;
  font-size: 0.8rem;
}

.social {
  margin: 1rem 0 0 12rem;
  width: 30%;
}


