body {
  overflow-x: hidden;
}

.search-container {
  display: inline-flex;
  width: 10%;
}

.search-icon {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 550;
}

.search-box {
  border: 0;
  padding: 0.5rem 0;
  flex: 1;
  width: 5%;
}

.img-verse {
  width: 40%;
}

.display-5 {
  font-weight: 900;
}

.icon,
.figure-cap {
  color: white;
  background-color: #f72210;
}

.icon {
  font-size: 1.5rem;
}

.figure-cap,
.figure-caption {
  font-weight: bolder;
}

.figure-caption {
  color: #f72210;
}